---
- name: reload ssh
  ansible.builtin.systemd:
    name: ssh
    state: reloaded

- name: restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: reload sysctl
  ansible.builtin.command: sysctl --system
  changed_when: true

- name: restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
    enabled: true

- name: reload ufw
  community.general.ufw:
    state: reloaded
